# Files:
*.db
*.log
*.md
*.xml
*.class
*.json
*.iml
*.lock
*.sync
creds.properties

# Folders:
bin/
target/
.idea/
.gradle/
scr/target/
build/

# But not:
# Files:
!pom.xml
!config.properties
# Folders:
!src/test/resources/*.xml
